flepimop-calibrate \
    --config {{ config }} \
    --project_path {{ project_path }} \
    --nwalkers {{ chains }} \
    --niterations {{ simulations_per_chain }} \
    --nsamples {{ samples_per_chain }} \
    {%- if nthin is defined and nthin is not none %}--nthin {{ nthin }} \{% endif %}
    --id {{ run_id }} \
    --prefix {{ prefix }} \
    {%- if resume is defined and resume is not none %}--resume \{% endif %}
    {%- if resume is defined and resume is not none %}--resume_location {{ resume }} \{% endif %}
    > {{ log_output }} 2>&1