#!/usr/bin/env bash
{%- for opt in options %}
#SBATCH {{ opt }}
{%- endfor %}

{% if debug -%}
# Debugging
set -x
{%- endif %}

{% include "inference_environment_variables.bash.j2" with context %}

{% include "cluster_setup.bash.j2" with context %}

{% include "conda_activate.bash.j2" with context %}

{% include "inference_command.bash.j2" with context %}
