name: gempyor-ci

on:
  workflow_dispatch:
  push:
    paths:
      - examples/**/*
      - flepimop/gempyor_pkg/**/*
    branches:
      - main
      - dev
  pull_request:
    paths:
      - examples/**/*
      - flepimop/gempyor_pkg/**/*
    branches:
      - main
      - dev

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
          sparse-checkout: |
            *
            !documentation/
          sparse-checkout-cone-mode: false
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install gempyor
        run: |
          python -m pip install --upgrade pip
          python -m pip install "flepimop/gempyor_pkg[test]"
        shell: bash
      - name: Run gempyor tests
        run: |
          cd flepimop/gempyor_pkg
          pytest --exitfirst
        shell: bash
      - name: Run gempyor-cli integration tests from examples
        run: |
          cd examples
          pytest --exitfirst
        shell: bash
